{% extends 'base.html' %}

{% block title %}
    UniLikes | {{ user.get_username }}
{% endblock %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'votingapp/css/index.css' %}">
{% endblock %}

{% block content %}
    <main>

        {% load crispy_forms_tags %}

        <div class="container " id="profile" style=" width: 50%">

            <div class="row">

                <div class="col">
                    <br/>
                    <h1>{{ user.username }}</h1>
                </div>

            </div>
            <br/>
            {% if user.semesters %}
                <div class="row">
                    <h3>Voted semesters: <i>{{ user.semesters }}</i>

                    </h3>
                </div>
            {% endif %}

        </div>
        <div class="info text-center">
            <div class="my-5">
                <h3 class="mb-4">Ваш голос много значит</h3>
                <p>Правда. Мы за честное и анонимное голосование. Ваши голоса не привязываются к Вашему аккаунту.</p>
            </div>
        </div>
    </main>
{% endblock %}