{% load i18n %}

{% block subject %}
{% blocktrans %}Активация аккаунта на {{ site_name }}{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}Вы получили это сообщение потому что зарегестрировались на сайте {{ site_name }}.{% endblocktrans %}

{% trans "Пожалуйста, пройдите по ссылке ниже, чтобы активировать аккаунт:" %}
{{ protocol }}://{{ domain }}/{{ url|safe }}

{% trans "С наилучшими пожеланиями," %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% blocktrans %}Вы получили это сообщение потому что зарегестрировались на сайте {{ site_name }}.{% endblocktrans
    %}</p>

<p>{% trans "Пожалуйста, пройдите по ссылке ниже, чтобы активировать аккаунт:" %}</p>
<p><a href="{{ protocol }}://{{ domain }}/{{ url|safe }}">{{ protocol }}://{{ domain }}/{{ url|safe }}</a></p>


<p>{% trans "С наилучшими пожеланиями," %}</p>
<p>{% blocktrans %}команда {{ site_name }}{% endblocktrans %}</p>

{% endblock html_body %}
